body {
margin-top: 0;
margin-left: 20px;
}

body {
  font-family: Helvetica Neue LT Com, helvetica, sans-serif;
  font-weight: 65 Medium;
  font-size: 31px;
  line-height: 35px;
  margin: 0px;
}

a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.text {
  display: block;
  margin-top: -0.5em;
  margin-left: .5em;
  margin-right: .5em;
  z-index: 1;
  position: absolute;
}

.triangle1 {
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 0;
}

:not(svg) {
    transform-origin: 0px 0px;
}

@media screen and (max-width: 430px) {
    .hide {
        display: block;
    }
  }

/*
@media (max-width: 767px) {
  body {
      font-size: 23px;
      line-height: 26px;
  }
}
*/
