
header{
  display: block;
  margin-top: -1.2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  z-index: 1;
  position: absolute;
}

svg{
  fill: #bbff00;
  width:90px;
}

.plant1{
  transform: translate(10vw, 40vh);
  position: fixed;
}

.plant2 {
  transform: translate(35vw, 15vh);
  position: fixed;
}

.plant3 {
  transform: translate(75vw, 70vh);
  position: fixed;
}

footer {
  margin-bottom: -1.5rem;
  margin-left: 0.7rem;
  bottom: 0;
  position: fixed;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: #262626;
 }

 p{
   font-family: Times Now, serif;
   font-weight: ExtraLight;
   font-size: 2.4rem;
   line-height: 2.8rem;
   color: #b2b2b2;
   font-smooth: auto;
 }

.triangle1 {
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 0;
}


a:-webkit-any-link {
    color: #b2b2b2;
    cursor: pointer;
    text-decoration: none;
    font-family: ABCDiatype, sans-serif;
    font-weight: Light;
    font-size: 2.2rem;
    line-height: 0;
}

a:hover{
    color: #bbff00;
    transition: .5s;
}

::selection{
  color: #bbff00;
}

::-moz-selection {
  color: black;
}

#mydiv{
  width: 3em;
  height:3em;
  position: absolute;
  transform: translate(-50%,-50%);
}

@media (max-width: 768px) {
  body{
    overflow: auto;
  }
  header {
    margin-left: 1rem;
    margin-top: -.7rem;
    overflow: auto;
  }
  p {
    font-size: 2rem;
    line-height: 2.3rem;
  }
  a:-webkit-any-link {
      font-size: 1.7rem;
      line-height: 0rem;
  }
  svg{
    width:60px;
  }
  }

@font-face {
    font-family: 'Times Now';
    src: url('fonts/Times Now ExtraLight.otf'),
         url('fonts/times_now_extralight-webfont.woff2'),
         url('fonts/times_now_extralight-webfont.woff'),
         url('fonts/ABCDiatype-Light.otf'),
         url('fonts/ABCDiatype-Light.woff'),
         url('fonts/ABCDiatype-Light.woff2');
    src: url('fonts/Times Now ExtraLight.otf') format('otf'),
         url('fonts/times_now_extralight-webfont.woff2') format('woff2'),
         url('fonts/times_now_extralight-webfont.woff') format('woff'),
         url('fonts/ABCDiatype-Light.otf') format('otf')
         url('fonts/ABCDiatype-Light.woff') format('woff'),
         url('fonts/ABCDiatype-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ABCDiatype';
    src: url('fonts/ABCDiatype-Light.otf'),
         url('fonts/ABCDiatype-Light.woff'),
         url('fonts/ABCDiatype-Light.woff2');
    src: url('fonts/ABCDiatype-Light.otf') format('otf')
         url('fonts/ABCDiatype-Light.woff') format('woff'),
         url('fonts/ABCDiatype-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
