body {
margin-top: 0;
margin-left: 20px;
}

body {
  font-family: Helvetica Neue LT Com, helvetica, sans-serif;
  font-weight: 65 Medium;
  font-size: 31px;
  line-height: 35px;
  margin: 0px;
  overflow: hidden;
}

a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.text {
  display: block;
  margin-top: -0.5em;
  margin-left: .5em;
  margin-right: .5em;
  z-index: 1;
  position: absolute;
}

.triangle1 {
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 0;
}

:not(svg) {
    transform-origin: 0px 0px;
}


@media (max-width: 430px) {
    .triangle1 {
      height:80vh;
    }
  }
